[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = {index = "http://pypi.douban.com/simple/",version = "*"}
pytest = {index = "http://pypi.douban.com/simple/",version = "*"}
pexpect = {index = "http://pypi.douban.com/simple/",version = "*"}

[packages]

[requires]
python_version = "3.6"
